.obpress-special-offer-holder {
  font-family: "Montserrat", Sans-serif;
  display: block;
  opacity: 0;
}

.obpress-special-offer-title p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 18px;
  color: #838383;
}

.obpress-special-offer-title h3 {
  color: #414b4f;
  font-weight: 600;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.obpress-special-offer-title h3,
.obpress-special-offer-title p {
  text-align: center;
}

.obpress-swiper .swiper-slide img {
  width: 770px;
}

.obpress-swiper .swiper-slide-active .obpress-swiper-image {
  box-shadow: 0px 14px 24px #bead8e33;
}

.obpress-swiper .swiper-slide {
  height: 500px;
}

.obpress-swiper-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.obpress-swiper-prev,
.obpress-swiper-pagination,
.obpress-swiper-next {
  position: static;
  display: flex;
  align-items: center;
}

.obpress-swiper-prev,
.obpress-swiper-next {
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-top: 0px;
}

.obpress-swiper-prev {
  background-image: url(../icons/back.svg);
  margin-right: 80px;
}

.obpress-swiper-next {
  background-image: url(../icons/next.svg);
  margin-left: 80px;
}

.obpress-swiper-lines .swiper-pagination-bullet {
  border-radius: 0px;
  width: 20px;
}

.obpress-swiper-lines .swiper-pagination-bullet-active {
  width: 30px;
}

.obpress-swiper-pagination-disabled {
  display: none;
}

.obpress-swiper-nav .swiper-pagination-bullet {
  margin-right: 10px;
}

.obpress-swiper-nav .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.obpress-offer-info-holder {
  background-color: #fff;
  max-width: 85%;
  margin: -129px auto 22px auto;
}

.obpress-swiper
  .swiper-slide:not(.swiper-slide-active)
  .obpress-offer-info-holder {
  opacity: 0;
}

/* .obpress-offer-info-holder {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  opacity: 1;
} */

.obpress-offer-partial {
  color: #fff;
  position: relative;
  background: #000000;
  padding: 10px 28px;
  clear: both;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

div.obpress-offer-partial-left {
  margin-left: -10px;
  float: left;
}

div.obpress-offer-partial-left h2 {
  margin: 0 12px;
}

div.obpress-offer-partial-left::before {
  display: block;
  width: 10px;
  height: 0px;
  position: absolute;
  bottom: -10px;
  left: 0px;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px solid #222222;
  box-shadow: 0px 3px 6px #00000029;
}

.obpress-offer-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 27px 27px 30px;
  box-shadow: 0px 14px 54px #bead8e33;
}

.obpress-offer-description {
  max-width: 69%;
}

.obpress-offer-description p,
.obpress-offer-description h5 {
  margin: 0;
}

.obpress-offer-description h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #222222;
}

.obpress-offer-description p {
  font-size: 14px;
  line-height: 20px;
  color: #2c2f33;
  padding-right: 57px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.obpress-offer-price-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.obpress-offer-price p {
  margin-top: 0px;
  font-size: 12px;
  color: #2c2f33;
  line-height: 15px;
  margin-bottom: 0px;
}

.obpress-offer-number,
.obpress-offer-night {
  display: inline-block;
  margin-top: 7px;
}

.obpress-offer-number {
  color: #bead8e;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.obpress-offer-night {
  font-size: 14px;
  color: #bead8e;
  line-height: 24px;
}

.obpress-offer-more {
  display: flex !important;
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  background-color: #000000;
  border: 1px solid #000000;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 14px 24px #bead8e29;
}

.obpress-swiper-image {
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.obpress-offer-hotel-name {
  font-size: 14px;
  font-weight: 600;
  color: #bead8e;
  margin-bottom: 17px;
  margin-top: 0px;
}

.obpress-special-offer-link-holder {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

.obpress-special-offer-link-holder a {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 24px;
}

.obpress-special-offer-holder-mobile {
  display: none;
}

@media (max-width: 1279px) {
  .obpress-special-offer-holder {
    display: none;
  }

  .obpress-special-offer-holder-mobile {
    display: block;
    white-space: nowrap;
    overflow: scroll;
    padding-right: 10px;
    font-family: "Montserrat", Sans-serif;
  }

  .obpress-special-offer-holder-mobile::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .obpress-special-offer-holder-mobile {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .obpress-so-mob-slide {
    width: 280px;
    height: 380px;
    background-color: #fff;
    margin-left: 28px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }

  .obpress-so-mob-partial {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 5px 11px;
  }
  
  .obpress-so-mob-slide-image {
    width: 100%;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .obpress-so-mob-slide-title {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    margin-top: -29px;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 24px 0px #bead8e38;
    box-shadow: 0px 8px 24px #bead8e38;
    padding: 12px 15px;
    margin-bottom: 10px;
  }

  .obpress-so-mob-slide-title .offer-name {
    font-size: 16px;
    font-weight: bold;
    color: #2c2f33;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%; 
    text-align: center;
  }

  .obpress-so-mob-slide-title .hotel-name {
    font-size: 12px;
    font-weight: bold;
    color: #BEAD8E;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%; 
    text-align: center;
  }

  .obpress-so-mob-slide-desc {
    display: flex;
    justify-content: center;
  }

  .obpress-so-mob-slide-desc p{
    font-size: 12px;
    max-width: 171px;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;  
    line-height: 18px;
    height: 36px;
    margin-top: 0px;
    margin-bottom: 12px;
  }

  .obpress-so-mob-slide-price-holder p {
    text-align: center;
  }

  .obpress-so-mob-slide-price-string {
    font-weight: 600;
    font-size: 10px;
    color: #2C2F33;
    line-height: 13px;
    margin: 0;
  }

  .obpress-so-mob-slide-price-val {
    font-weight: bold;
    font-size: 20px;
    color: #BEAD8E;
    margin-bottom: 11px;
    line-height: 24px;
    margin-top: 0px;
  }

  .obpress-so-mob-slide-button-holder {
    text-align: center;
  }

  .obpress-so-mob-slide-button {
    padding: 11px 31px;
    background-color: #000000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    border-width: 0;
    display: inline-block;
  }

  .ob-mob-testemonials-content h4 {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.42px;
    color:#222222;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .ob-mob-testemonials-content h5  {
    font-weight: 400;
    font-size: 12px;
    color: #6E6E6E;
    letter-spacing: 1.2px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 17px;
  } 

  .ob-mob-testemonials-content p {
    font-weight: 400;
    font-size: 10px;
    color: #777777;
    max-width: 208px;
    white-space: pre-wrap;
    text-align: center;
  }
}
